<div class="indexwrapper">
  <div class="indexIntroTop">
<h1 class="indexFont"><span class='cello'>Find</span><br>Berlins <br>best nectar</h1>
<h3 class="indexAppetizer">Read thousands of reviews <br>
and discover your taste</h3>
</div>
<div class="indexbottomBackground">
  <a href="/signup">Sign up</a>
  <a href="/login">Log in</a>
  <!-- <a href="/logout">Log out</a> -->
  </div>
</div>