
<div class="indexwrapper">

  <div class="indexIntroTop">
<h1 class="indexFont">Find<br>Berlin's <br><span class='cello'></span> wines</h1>
<h3 class="indexAppetizer">Read thousands of reviews <br>
and discover new flavours</h3>
</div>
<div class="indexbottomBackground">
  <a href="/signup" class="hvr-underline-from-left">Sign up</a>
  <a href="/login" class="hvr-underline-from-left">Log in</a>
  <!-- <a href="/logout">Log out</a> -->
  </div>
</div>