<div class="loginWrapper">
<div class="loginTop"><h1 style="text-align: center;">Hello <br>friendo</h1></div>
<div class="loginbottom">


<form action="/login" method="POST" class="login">
  <label for="username">Username</label> 
  <input id="username" type="text" name="username">
  <label for="password">Password</label> 
  <input id="password" type="password" name="password">
  <button type="submit">Log in</button>
</form>
{{#if message}}
  <p style='color: red'>{{message}}</p>
{{/if}}
</div>
</div>