body {


  font-size: 14px ;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}


/* Font imports 
font-family: 'Abril Fatface', cursive;

font-family: 'Roboto', sans-serif;
*/
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
 




/* Index Styles */
.indexwrapper{
  width: 100%;
  height: 100%;
  position: relative;
background-color:white;
}

.indexIntroTop{
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.indexbottomBackground{
  width: 100%;
  height: 30%;
background-color: #ff6a5b;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border-radius: 6px;
}

.indexFont{
  font-size: clamp(60px, 6vw, 8vw); 
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 1.2px;
  line-height: 120%;
  padding-left: 5%;
  margin: 0;
  color: black  ;
}

.indexbottomBackground a {
  text-decoration: none;
  margin-left: 5%;
  padding-top: 60px;
  padding-bottom: 10px;
color: white;
font-family: 'Abril Fatface', cursive;
letter-spacing: 1.2px;
font-size: clamp(20px, 1.8vw, 2vw); 
}

.indexAppetizer{
  margin-left: 5%;
  font-weight: 100;
  color: #676767;
  line-height: 140%;
  font-size: clamp(20px, 1.8vw, 2vw); 
  margin-top: 60px;
}



  /* Underline From Left */
  .hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0px;
    background: white;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }

  /*Sign up Styles*/
  .signupwrapper{
    width: 100%;
   margin: 0 auto;
   display: flex;
    height: 100%;
  }

  .signupwrapper form {
    display: flex;
    flex-direction: column;
    width: 40%;

  }

  .signupwrapper form label {
    margin-top: 10%;
  }

  .signupwrapper form input {
   padding: 10px;
   border-radius: 5px;
  border: 2px solid #eeeeee;
   background-color: #eeeeee;
  }

  .signupwrapper button {
    margin-top: 10%;
    padding: 20px;
    width: 50%;
    background-color: black;
    border-radius: 5px ;
    border: none;
  }

.loginWhite{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginTeaser{
  width: 50%;
  height: 100vh;
  background-color: #45e9a6;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupFont{
  font-size: clamp(60px, 5vw, 6vw); 
  font-family: 'Abril Fatface', cursive;
}

input[type="text"], input[type="password"] input[type="file"], textarea, select { 
  outline: none;
}
input[type="file"] {
  display: none;
}


#dateOfBirth{
  font-family:   'Roboto', sans-serif;;
}

.photo {
  padding: 10px;
  border-radius: 5px;
 border: 2px solid #eeeeee;
  background-color: #eeeeee;
}

  /*Login Styles*/

 .loginWrapper{
   width: 100%;
   margin: 0 auto;
   display: flex;
   flex-direction: row-reverse;
 }

 .loginTop{
   width: 100%;
   height: 100vh;
   background-color: blue;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .loginTop h1 {
  font-size: clamp(60px, 6vw, 8vw); 
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 1.2px;
  line-height: 120%;
  padding-left: 5%;
  margin: 0;
  color: black  ;
  color: white;
 }

 .loginbottom{
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 .loginbottom .login{
   display: flex;
  flex-direction: column;
 }

 .loginbottom form input {
  margin-top: 3px;
  border-radius: 5px;
 border: 2px solid #eeeeee;
  background-color: #eeeeee;
  padding: 10px;
 }

 .loginbottom form label {
  margin-top: 20px;

 }

 .loginbottom form button{
  margin-top: 20px;
  color: white;
  padding: 30px;
  background-color: black;
  border-radius: 5px;
  border: 0;
}

 /* addWine.hbs styles */

  .addWineWrapper{
    width: 100%;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse
  }

  .addWineLeft{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .addWineRight{
    width: 50%;
    height: 100vh;
    background-color: #ffe955;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .addWineWrapper form{
    display: flex;
    flex-direction: column;
    width: 40%;

  }
  .addWineWrapper form input{
    margin-top: 3px;
    border-radius: 5px;
   border: 2px solid #eeeeee;
    background-color: #eeeeee;
    padding: 10px;
  }

  .addWineWrapper form select {
    margin-top: 3px;
    border-radius: 5px;
   border: 2px solid #eeeeee;
    background-color: #eeeeee;
    padding: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
  }

  .addWineWrapper form label{
    margin-top: 15px;
  }

  .addWineWrapper form #comments{
    height: 10vh;
  }

  textarea{
    bottom: 0px;
    vertical-align: top;
  }

  .addWineWrapper form button{
    margin-top: 20px;
    color: white;
    padding: 30px;
    background-color: black;
    border-radius: 5px;
    border: 0;
  }





/*# sourceMappingURL=style.css.map */

 /* wines.hbs styles */

 .inspectwine:hover {
   color: white !important;
 }

 .allwineWrapper{
  height: 100%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;

 }

 .allwineWrapper .allWinesSelectWine {
  width: 20%;
  height: 35%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 1px;
  border-radius: 5px;
 }

 .allwineWrapper .allWinesSelectWine .imgB {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  
 }

 .allwineWrapper .allWinesSelectWine h3 {
  padding-left: 10px;
 }

 .allwineWrapper .allWinesSelectWine a {
  padding-left: 10px;
  text-decoration: none;
  color: black;
 }

.backgroundImageallWine{
  height: 60%;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.allWineInfo{
  height: 40%;
  width: 100%;
  border-radius: 0px 0px 5px 5px;
}

 .topWines{
   
   width: 90%;
   margin: 0 auto;
   display: flex;
 
 }

.leftTopWines{
  width: 50%;
}

.rightTopWines{
  width: 50%;
  display: flex;
  justify-content: right;
  align-items:flex-end;
}

.rightTopWines h2 {
  font-size: clamp(40px, 3vw, 2vw);
  position: relative;
  top: -70px;
}

 .winesHello{
  font-size: clamp(60px, 6vw, 8vw);
  font-family: 'Abril Fatface', cursive;
 }

 @-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

  /* wineView.hbs styles */
 


  .wineBg{
   width: 100%;
   height: 100%;
background-position: center;
   background-size: contain;
   position: relative;
   overflow: hidden;
    display: flex;
    align-items: center;
 }


.wineBg .wineBigInfo {
  position: absolute;
left: 10%;

}

 .wineBigInfo h1 {
   font-size: 10vw;
   color: white;
   -webkit-animation:colorchange 20s infinite alternate;
   padding: 0;
   margin: 0;
 }

 .wineBigInfo h2 {
  font-size: 5vw;
  color: white;
  -webkit-animation:colorchange 20s infinite alternate;
  padding: 0;
  margin: 0;
}

.infoWine{
  margin-top: 2% !important;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.infoWine div {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.infoWine .flexCountry{
  width: 20%;
  height: 20%;
  display: flex;
  flex-direction: row;
 align-items: center;
}

.flexCountry .flagge{
  
}

.infoWine .flexCountry img{
    width: 60%;
    height: 60%;
}

.review{
  width: 80%;
  margin: 0 auto;
  position: relative;

}

.review .userImage{
  position: absolute;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  top: 25px;
  right:0%;
  padding: 30px;
}

.reviewSub{
  padding: 10px;
  border-radius: 5px;
 border: 2px solid #eeeeee;
  background-color: #eeeeee;
  margin-left: 40px;
}

.review h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: clamp(60px,4vw,5vw);
}

.review p{
  font-size: clamp(40px,2vw,3vw);
  font-weight: 200;
}
.reviewform{
}

.reviewform input{
  border-radius: 5px;
  border: 2px solid #eeeeee;
  padding: 10px;
}

.shopInfo{
  width: 100%;
  margin-top: 50px;
}

@-webkit-keyframes colorchange {
  0% {
    
    color: white;
  }
  
  10% {
    
    color: #8e44ad;
  }
  
  20% {
    
    color: #1abc9c;
  }
  
  30% {
    
    color: #d35400;
  }
  
  40% {
    
    color: white;
  }
  
  50% {
    
    color: #34495e;
  }
  
  60% {
    
    color: white;
  }
  
  70% {
    
    color: #2980b9;
  }
  80% {
 
    color: #f1c40f;
  }
  
  90% {
 
    color: #2980b9;
  }
  
  100% {
    
    color: pink;
  }
}

.socials {
  display:flex
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}

button:hover {
  background-color: rgb(69, 233, 166);
  border: 2px solid  rgb(69, 233, 166);
}

#map { position: relative; top: 0; bottom: 0; width: 100%;  height: 50vh;
margin-top: 200px;

}