
<div class="addWineWrapper">
  <div class="addWineLeft">
<form action="/addwine" method="POST" enctype="multipart/form-data">
  <label for="winename">Name of wine:</label>
  <input type="text" name="winename" id="winename">

  <label for="year">Year:</label>
  <input type="text" name="year" id="year">

  <label for="price">Price:</label>
  <input type="text" name="price" id="price">

  <label for="colour">Colour:</label>
<select name="colour" id="colour">
   <option value="">---</option>
  <option value="red">red</option>
  <option value="white">white</option>
  <option value="rose">rose</option>
  <option value="orange">orange</option>
</select>

<label for="foodpairing"> Goes well with</label>
<select name="foodpairing" id="foodpairing">
    <option value="">---</option>
  <option value="meat">meat</option>
  <option value="cheese">cheese</option>
  <option value="veg">veg</option>
  <option value="fruit">fruits</option>
  </select>



 <label>
    Bio:
    <select  name="bio" id="bio">
      <option value="">---</option>
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select>
  </label>

   <label for="country">Country:</label>
  <input type="text" name="country" id="country">

<!--
   <label for="shop">Shop:</label>
  <input type="text" name="shop" id="shop">
-->

<label for="photo" class="photo">Add Wine Snap  📷
  <input type="file" name="photo" id="photo">
  </label>

<label for="rating">Rating:</label>
  <input type="number" name="rating" id="rating" min="1" max="5">

    <label for="comments">Impression:</label>
  <input type="text" name="comments" id="comments">

  <button type="submit">Add Wine</button>

</form>
</div>
<div class="addWineRight">
   <h1 class="signupFont">PSST!<br> Just one more <br>step...</h1>
</div>
</div>
