
<div class="allwineWrapper">
{{#each allWines}}
<div>
  
        <div class="imgB" style="background-image: url('{{this.imgPath}}"></div>

      <h3>{{this.winename}}</h3>
      <a href="/wines/{{this._id}}">Check it out</a>
</div>
{{/each}}
</div>