<h3>Hello Motto</h3>
<div class="addWineWrapper">
<form action="/addWine" method="POST" enctype="multipart/form-data">
  <label for="winename">Name of wine:</label>
  <input type="text" name="winename" id="winename">

  <label for="year">Year:</label>
  <input type="text" name="year" id="year">

  <label for="price">Price:</label>
  <input type="text" name="price" id="price">

  <label for="colour">Colour:</label>
  <input type="text" name="colour" id="colour">

   <label for="bio">Bio:</label>
  <input type="text" name="bio" id="bio">

   <label for="country">Country:</label>
  <input type="text" name="country" id="country">

   <label for="shop">Shop:</label>
  <input type="text" name="shop" id="shop">

<label for="photo">Wine Snap: </label>
  <input type="file" name="photo" id="photo">

  <button type="submit">Add Wine</button>

</form>
</div>
